In [1]:
import requests
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import time

In [2]:
train_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/optdigits/optdigits.tra"
test_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/optdigits/optdigits.tes"

In [3]:
train_df = pd.read_csv(train_url, header = None)
test_df = pd.read_csv(test_url, header = None)

In [4]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6

In [5]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,6,13,10,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,0,3,11,16,9,0,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,0,7,13,13,9,0,0,3
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4

In [6]:
train_lbl_df = train_df[64]

In [7]:
train_img_df = train_df.drop([64], axis = 1)

In [8]:
train_lbl_df.head()

0    0
1    0
2    7
3    4
4    6
Name: 64, dtype: int64

In [9]:
train_img_df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,0,6,14,7,1,0,0
1,0,0,10,16,6,0,0,0,0,7,...,3,0,0,0,10,16,15,3,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,0,9,14,0,0,0,0
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,0,1,15,2,0,0
4,0,0,5,14,4,0,0,0,0,0,...,12,0,0,0,4,12,14,7,0,0

In [10]:
test_lbl_df = test_df[64]
test_img_df = test_df.drop([64], axis = 1)

In [11]:
test_lbl_df.head()

0    0
1    1
2    2
3    3
4    4
Name: 64, dtype: int64

In [12]:
test_img_df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,0,6,13,10,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,0,11,16,10,0,0
2,0,0,0,4,15,12,0,0,0,0,...,5,0,0,0,0,3,11,16,9,0
3,0,0,7,15,13,1,0,0,0,8,...,9,0,0,0,7,13,13,9,0,0
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,0,0,2,16,4,0,0

In [13]:
train_img = train_img_df.as_matrix()
test_img = test_img_df.as_matrix()
train_lbl = train_lbl_df.as_matrix()
test_lbl = test_lbl_df.as_matrix()

In [14]:
print(train_img.shape)
print(test_img.shape)
print(train_lbl.shape)
print(test_lbl.shape)

(3823, 64)
(1797, 64)
(3823,)
(1797,)

In [15]:
svc = SVC()

In [16]:
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10, 100, 1000], 'gamma': [0.001, 0.0001]}

In [17]:
start_time = time.time()
clf = GridSearchCV(svc, parameters)
clf.fit(train_img, train_lbl)
end_time = time.time()
print("Training finished in {} seconds".format(end_time - start_time))

Training finished in 39.630579710006714 seconds

In [18]:
print("Best score on training data: {}".format(clf.best_score_))

Best score on training data: 0.9916296102537274

In [19]:
print("Best params for SVM classificator:")
print(clf.best_params_)

Best params for SVM classificator:
{'C': 10, 'gamma': 0.001, 'kernel': 'rbf'}

In [20]:
test_score = clf.score(test_img, test_lbl)
print("Accuracy on test data: {}".format(test_score))

Accuracy on test data: 0.9827490261547023

In [21]:
pred_lbl = clf.predict(test_img)

In [22]:
mean_abs_err = mean_absolute_error(test_lbl, pred_lbl)
print("Mean absolute error: {}".format(mean_abs_err))

Mean absolute error: 0.06566499721758487

In [23]:
mean_squared_err = mean_squared_error(test_lbl, pred_lbl)
print("Mean squared error: {}".format(mean_squared_err))

Mean squared error: 0.3350027824151363

In [24]:
r2_scr = r2_score(test_lbl, pred_lbl)
print("R2 score: {}".format(r2_scr))

R2 score: 0.9591728736093396

In [26]:
from sklearn import metrics
print("Classification report for classifier %s:\n%s\n"
      % (clf, metrics.classification_report(test_lbl, pred_lbl)))
print("Confusion matrix:\n%s" % metrics.confusion_matrix(test_lbl, pred_lbl))

Classification report for classifier GridSearchCV(cv=None, error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'kernel': ('linear', 'rbf'), 'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0):
             precision    recall  f1-score   support

          0       0.99      1.00      1.00       178
          1       0.96      0.99      0.98       182
          2       1.00      0.98      0.99       177
          3       0.98      0.98      0.98       183
          4       1.00      1.00      1.00       181
          5       0.98      0.99      0.98       182
          6       1.00      0.99      1.00       181
          7       0.99      0.96      0.97       179
          8       0.98      0.95      0.97       174
          9       0.94      0.98      0.96       180

avg / total       0.98      0.98      0.98      1797


Confusion matrix:
[[178   0   0   0   0   0   0   0   0   0]
 [  0 181   0   0   0   0   0   0   1   0]
 [  0   3 174   0   0   0   0   0   0   0]
 [  0   0   0 179   0   1   0   1   1   1]
 [  0   0   0   0 181   0   0   0   0   0]
 [  0   0   0   0   0 180   0   0   0   2]
 [  1   0   0   0   0   0 180   0   0   0]
 [  0   0   0   0   0   1   0 171   0   7]
 [  0   5   0   1   0   1   0   0 166   1]
 [  0   0   0   2   0   1   0   0   1 176]]